@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --main-color: #2196f3;
  --cards-color: #eeeeee;
  --white: #ffffff;
  --black: #000000;
  --icon-color-light: #afb1b8;
  --icon-color-dark: #ffffff1a;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-submit: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 230px;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
}

@media screen and (max-width: 767px) {
  .content {
    min-width: 320px;
  }
}
@media screen and (min-width: 780px) and (max-width: 1023px) {
  .content {
    min-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    max-width: 1024px;
  }
}
.search-input {
  width: 280px;
  background-color: transparent;
  border-style: none none solid none;
  color: #fff;
}

.search-input:focus {
  background-color: transparent;
  outline: none;
}

.search-input:-webkit-autofill {
  background-color: transparent;
  outline: none;
}

.search-button {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  left: 65%;
  top: 45%;
  border: none;
  background: transparent;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100px;
}

.footer-text p {
  font-size: 14px;
  font-weight: 400;
}

.footer-text img {
  border: none;
  width: 14px;
  height: 12.75px;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=index.css.map */